<head>
    <title>$entry.getSubject()</title>
</head>
<body>
<div id="author" align="left">
    $entry.getPoster() wrote, <br>
    $entry.getDate()
</div>
<div id="subj">
    <h1>$entry.getSubject()</h1>
</div>
<div id="body">
    $entry.getBody()
</div>
