<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="lj.css" />
    <title>$entry.getSubject()</title>
</head>
<body>
<div class="entry">
    <div id="author" class="author">
        $entry.getPoster() wrote, <br>
        $entry.getDate()
    </div>
        <span id="nav" class="navigation">
            <a href="$prevURL">Previous Entry</a> | <a href="$nextURL">Next Entry</a>
        </span>
    <div class="entrySubj" id="subj">
        <h1>$entry.getSubject()</h1>
    </div>
    <div class="entryBody" id="body">
        $entry.getHTMLBody()
    </div>
</div>
