#macro( process $comment )
#set( $list = $comment.getChildren() )## dereference
#foreach( $child in $list )
#set( $margin = $child.getLevel()*10 )
#set( $px = "px" )
#parse ( "comment.vm" )
#if( $child.getChildren())#process( $child )#end
#end
#end
## call the macro on the root
#process($root)

<hr id="comment_separator">

<div class="commentsList" id="comments">
#foreach( $child in $commentList )
#set( $margin = $child.getLevel()*10 )
#parse( "comment.vm" )
#process( $child )
#end

</div>
