<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>$entry.getSubject()</title>
</head>
<body>
<div id="author" align="left">
    $entry.getPoster() wrote, <br>
    $entry.getDate()
</div>
<div id="subj">
    <h1>$entry.getSubject()</h1>
</div>
<div id="body">
    $entry.getBody()
</div>

</body>
</html>